name: Binance RSS Crawler

on:
  schedule:
    - cron: "0 0,8,16 * * *"   # 每 8 小时
  workflow_dispatch:

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r Crawler/binance/requirements.txt

      - name: Run crawler
        run: |
          python Crawler/run_all.py

      #准备 GitHub Pages 目录
      - name: Prepare public directory
        run: |
          mkdir -p public
          cp Crawler/binance/feeds/*.xml public/
          cp Crawler/binance_detail/feeds/*.xml public/

      #  发布到 gh-pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
